.container-speech {
  padding-left: calc(100% - 400px);

  td {
    padding-left: 10px;
  }

  .btn-container {
    display: flex;

    button {
      border: none;
      background-color: #6c757d;
      padding: 5px;
      border-radius: 5px;
      width: 50px;
      color: whitesmoke;
    }
  }
}